@import '../../../assets/Color.scss';

.actuality {
  display: flex;
  flex-direction: column;


  .head-actuality {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    border-bottom: 1px solid $white-background;
    font-weight: bold;
    text-transform: capitalize;
    font-size: .9rem;

    .item {
      padding: 20px 0px;
      margin-left: 15px;
      cursor: pointer;
      transition: color .3s;

      a {
        // padding: 15px 10px;
        // color: $black;
        color: #7c7f85;
        text-decoration: none;
      }

      &:hover {

        a {
          color: $black;
        }
      }
    }

    .active{
      color: $black !important;
    }

  }
}