@import '../../../assets/Color.scss';
.profil {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: .5em;
  .head-profil {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    border-bottom: 1px solid $white-background;
    font-weight: bold;
    text-transform: capitalize;
    font-size: .9rem;
    padding-left: 1em;
  
    .item-nav-profil {
      padding: 20px 15px;
      cursor: pointer;
      transition: color .3s;
      text-decoration: none;
      color: #7c7f85;
  
      &:hover {
        border-bottom: 3px solid $black ;
        color: $black ;
      }
    }
  
    .active {
      border-bottom: 3px solid $black ;
      color: $black ;
    }
  }
}

