.forms{
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid #dee0e3;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgb(18 38 63 / 5%);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.forms .input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.forms input{
    padding: 12px;
    outline: none;
    border: 1px solid #d3d5d8;
    border-radius: 5px;
    font-size: 0.9rem;
    color : #5d646d;
    transition: border-color 0.15s ease-in-out;
    width: 350px;
    height: 35px;
}

.forms input:focus{
    border-color: #007bff;
}

.forms label{
    font-size: 0.9rem;
    color: #6c757D;
    margin-bottom: 5px;
}

.forms button{
    padding: 8px 10px;
    text-align: center;
    font-size: 0.9rem;
    background-color: #007bff;
    border: 1px solid #007bff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    margin-left: auto;
    display: block;
}

.forms button:hover{
    background-color: #0078c1;
    border-color: #0070b4;
}

.forms button:active{
    box-shadow: 0 0 0 0.2rem rgb(61 127 255 / 50%);
}

.forms input[type="file"]{
    padding: 0;
    border: 0;
}