@import '../../../../assets/Color.scss';
.response {
  display: flex;
  flex-direction: column;
  gap: .5em;

  .actuality-item {
    display: flex;
    gap: 1.4em;
    padding: 25px 20px;
    border-radius: .2em;
    border-bottom: 1px solid $white-background;

    .pdp {
      width: 50px !important;
      height: 50px !important;
      border-radius: 100%;
    }

    .detail-post {
      display: flex;
      flex-direction: column;
      gap: .5em;

      .head-post {
        display: flex;
        gap: 10px;
        align-items: center;

        .name {
          text-transform: capitalize;
          color: $blue;
          font-weight: bold;
          font-size: .95em;
        }
        .date{
          font-size: .8em;
        }
      }

      .detail {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-wrap: wrap;

        .tittle {
          display: flex;
          gap: 10px;
          font-weight: bold;
          align-items: center;
          color: $black;

          .resolved {
            font-size: .7em;
            background-color: $green-background;
            padding: 4px 8px;
            border-radius: .5em;
            color: #fff;
          }
          .icon-done{
            width: 2em;
            height: 2em;
            background-image: url('../../../../assets/icon/done.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            top: .5em;
            right: 1em;
          }
          .unresolved {
            font-size: .8em;
            padding: 4px 8px;
            border-radius: .5em;
            color: $red;
          }
        }

        .post {
          font-size: 15px;
          line-height: 30px;
          color: $color-text;
        }
        .replay {
          display: flex;
          padding: .5em 1em;
          align-items: center;
          justify-content: flex-end;
          gap: .4em;

          .comment {
            width: 4em;
            height: 2em;
            background-color: #333;
          }

          .answer {
            font-size: .8em;
            color: #fff;
            padding: .5em 1em;
            background-color: #999;
            border-radius: .5em;

            &:hover {
              background-color: #666;
              color: #eee;
            }
          }

          .replay-post {
            font-size: .8em;
            background-color: #555;
            padding: .5em 1em;
            color: #fff;
            border-radius: .5em;

            &:hover {
              background-color: #222;
              color: #eee;
            }
          }
        }
      }
      .replay-post-single{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: .9em;
        .icon-replay{
          height: 1.5em;
          width: 1.5em;
          background-image: url('../../../../assets/icon/replay.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .all-response{
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    .add-replay{
      display: flex;
      // align-items: flex-end;
      flex-direction: column;
      gap: .5em;
      padding: .5em 1em;
      .txt-btn{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: .5em;
        .textareaReplay{
          width: 100%;
          border-radius: .5em;
          padding: .5em 1em;
          outline: none;
        }
        .btn-post{
          display: flex;
          align-items: flex-end;
          border: none;
          padding: 1em 2em;
          border-radius: .5em;
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}