@import '../../../assets/Color.scss';
.header {
  background-color: #fff;
  display: flex;
  position: fixed;
  width: 98.8%;
  height: 60px;
  top: 0px;
  padding: 5px 100px;
  align-items: center;
  border-bottom: 1px solid $white-background;

  .logo-aeeni {
    // width: 3em;
    // height: 3em;
    background-image: url('../../../assets/Logo/aeeniLogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .name-platforme {
    font-size: 1.5em;
    font-weight: bolder;
    padding: .3em 1em;
    background: linear-gradient(90deg ,#5f1b256e , #5f1b25);
    border-radius:.3em .5em .3em .5em;
    color: #eee;
  }

  .search {
    margin: auto;
    position: relative;
    background-color: hsl(252, 30%, 95%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;

    .icon-search {
      color: hsl(252, 15%, 65%)
    }

    input {
      height: 32px;
      width: 30vw;
      outline: none;
      border: none;
      padding-left: 8px;
      background-color: transparent;
      font-size: 0.9rem;

      &::placeholder {
        color: hsl(252, 15%, 65%)
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;

    .notif {
      width: 2em;
      height: 2em;
      background-image: url('../../../assets/icon/notification.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .detail-user {
      display: flex;
      flex-direction: column;
      padding: .3em .6em;

      .detail {
        text-transform: capitalize;
        font-weight: bold;
        font-size: .9em;
        color: $black;
      }
      .level{
        font-size: .8em;
      }
    }
  }
}