:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --couleur-font : #bbbbc6;
  --couleur-titre : #343a40;
}

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(252deg, 30%, 95%);
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
